<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="CoconutDalConfigurationSection"
        type="CoconutDal.Configuration.CoconutDalConfigurationSection, CoconutDal"/>
  </configSections>
  <CoconutDalConfigurationSection>
    <Database UseName="Test">
      <Connections>
        <add Name="Test" 
             ConnectionString="Data Source = 'Test.sdf'; LCID=1033; Password=p667158767dae4320849c31eefad13a06;"/>
      </Connections>
    </Database>
  </CoconutDalConfigurationSection>
</configuration>
